td,th{
    border: 2px solid darkgreen;/*Добавляет бортики или границы тегам. 2px-Толщина бортиков. solid- стиль бортиков(видимые, сплошная линия). green-цвет бортиков*/
    width: 50px;/*Ширина*/
    height: 50px;/*Высота*/
    font-size: 25px;/*Размер шрифта*/
}
table{
    border-collapse: collapse;/*Объединяет бортики в единую сетку*/
}
th{
    background: green;/*Фон или заливка*/
    color: white;/*Цвет шрифта или текста*/
}
td{
    text-align: center;/*Выравнивает текст (влево, вправо или по центру) в нашем случае по центру*/
}
